﻿@using GestaoDeEquipamentos.ConsoleApp.Models;

@model ExcluirEquipamentoViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Equipamento";
}

@section Style {
    <link rel="stylesheet" href="~/Register.css" />
}

@section Header {
    <a href="/equipamentos/cadastrar">Cadastrar Equipamento</a>
    <a href="/equipamentos/visualizar">Visualizar Equipamentos</a>
}

<form action="/equipamentos/excluir/@Model.Id" method="post">
    <p>Você tem certeza que deseja excluir o registro <strong>@Model.Nome?</strong></p>

    <div class="button-interaction">
        <button type="submit" id="botaoCustom">Confirmar</button>
        <a type="button" id="botaoCustom" href="/equipamentos/visualizar">Voltar</a>
    </div>
</form>